@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fs-2 {
    font-size: 40px !important;
    font-family: 'DM Serif Display', serif;
}

.fs-4 {
    font-family: 'DM Serif Display', serif;
}

body {
    font-family: 'Karla', sans-serif;
}

.container-fluid {
    padding: 0 !important;
}

.mobileNav {
    background-color: hsl(270, 9%, 17%) !important;
    height: 100vh;
}

.mobileNav ul {
    background: url(images/bg-pattern-mobile-nav.svg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.mobileNav ul li a {
    color: white !important;
    font-size: 20px;
}

main section:first-of-type div > img {
    position: relative;
    right: 7rem;
    bottom: 3rem;
    margin-bottom: -8.5rem;
}

main section:first-of-type div {
    background: hsl(256, 26%, 20%);
}

main section:nth-child(2) img {
    position: relative;
    bottom: 12rem;
    margin-bottom: -17rem;
    left: 7.8rem;
    z-index: 99;
}

main section:nth-child(2) > div:first-of-type {
    background-color: hsl(273, 4%, 51%);
    width: 100px;
    height: 1px;
}

main .icon {
    width: 50px;
    height: 50px;
    background-color: hsl(216, 30%, 68%);
}

main .icon ion-icon {
    width: 30px;
    height: 30px;
}

main section:nth-child(3) {
    background: hsl(256, 26%, 20%);
    overflow: hidden;
}

main section:nth-child(3) img {
    position: relative;
    left: 4.8rem;
    bottom: 2rem;
    overflow: hidden;
    margin-bottom: -18rem;
}

footer section:first-of-type > div:first-of-type {
    position: relative;
    bottom: 5rem;
    margin-bottom: -2.5rem;
}

footer section:first-of-type div div a ion-icon {
    width: 25px;
    height: 25px;
}

footer section:first-of-type div div a ion-icon:hover {
    color:hsl(256, 26%, 20%) !important;
}

footer section:first-of-type .dash{
    width: 340px;
    height: 1px;
    background-color:hsl(216, 30%, 68%);
}

.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media  screen and (min-width: 800px ) {
    .container-fluid {
        padding: 1rem !important;
    }

    .mobileNav {
        background-color: transparent !important;
        height: 40px;
    }
    
    .mobileNav ul {
        background: none;
    }

    .mobileNav ul li a {
        color: black !important;
        font-size: 20px;
    }

    main section:first-of-type {
        margin-top: 3.5rem;
    }

    main section:first-of-type >div:first-of-type {
        padding-top: 3rem;
    }

    main section:first-of-type >div:first-of-type > div {
        position: relative;
        left: 10rem;
    }

    main section:first-of-type >div:first-of-type > div div:first-of-type {
        width: 100px;
        height: 1px;
    }

    main section:first-of-type >div:first-of-type > img:first-of-type {
        position: relative;
        top: 1.4rem;
        left: 11.5rem;
        height: 500px;
    }

    main section:first-of-type >div:first-of-type > img:last-of-type {
        position: relative;
        bottom: 9.5rem;
        left: 11rem;
        /* height: 470px; */
    }

    .headerHeading {
        font-size: 80px !important;
    }

    .headerText {
        font-size: 20px !important;
    }

    main section:first-of-type > img:last-of-type {
        position: relative;
        bottom: 10.7rem;
        margin-bottom: -18rem;
    }

    main section:nth-child(2) {
        width: 80%;
    }

    main section:nth-child(2) > div:last-of-type {
        width: 80%;
    }

    main section:last-of-type {
        height: 260px;
        width: 80%;
    }

    main section:last-of-type > img {
        position: relative;
        bottom: 9rem;
        left: 38rem;
        margin-right: -65rem;
    }

    main section:last-of-type > a {
        z-index: 2;
    }
    
    footer section:first-of-type > img {
        margin-bottom: -14rem;
    }

    footer section:first-of-type .dash{
        width: 80%;
        height: 1px;
        background-color:hsl(216, 30%, 68%);
    }

    footer section:first-of-type > div:first-of-type {
        position: relative;
        bottom: 0;
        margin-top: 3rem;
        margin-bottom: 1rem;
        height: 50px;
        width: 80%;
    }

    footer section:last-of-type {
        width: 70%;
    }


}